
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['pritunl'],
        'service': 'pritunl',
	'bind': {
	  'address': '127.0.0.1',
	  'port': 443
	},
	'log': {
	  'path': '/var/log/pritunl.log'
	},
	'mongodb': {
	  'uri':  'mongodb://localhost:27017/pritunl'
	}
    },
}, merge=salt['pillar.get']('pritunl:server')) %}
